<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0" package="org.rapidandroid">




	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="RapidAndroidApplication">
		<provider android:authorities="org.rapidandroid.provider.RapidSms" android:name=".content.RapidSmsContentProvider">
		</provider>
		<activity android:label="@string/app_name" android:name=".activity.Dashboard">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".receiver.SmsReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/org.rapidandroid.data.monitor"></data>
			</intent-filter>
			
			<intent-filter>			
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/org.rapidandroid.data.monitor"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/org.rapidandroid.data.message"></data>
			</intent-filter>
			<intent-filter>
			    <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/org.rapidandroid.data.message"></data>
			</intent-filter>
		</receiver>
		<activity android:name=".activity.FormReviewer"></activity>
		
		<activity android:name=".activity.FormCreator"></activity>
		

		<uses-library android:name="android.test.runner" />

	<receiver android:name=".receiver.SmsParseReceiver"><intent-filter><action android:name="org.rapidandroid.intents.SMS_SAVED"></action>
</intent-filter>
</receiver>
<activity android:name=".activity.ChartData"></activity>
<activity android:name=".activity.AddField" android:theme="@android:style/Theme.Dialog"></activity>
<activity android:name=".activity.FileBrowser"></activity>
<activity android:name=".activity.DateRange"></activity>
<receiver android:name=".receiver.SmsReplyReceiver">
<intent-filter><action android:name="org.rapidandroid.intents.SMS_REPLY"></action>
</intent-filter>
</receiver>
</application>

	<instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="org.rapidandroid" android:label="Tests for Api Demos.">
	</instrumentation>

	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 